@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body, html {
    /* background-color: lightslategrey; */
    font-family: 'Merriweather', serif;
}
#content {

}
header {
    align-items: flex-end;
    justify-content: center;
    /* margin-top: 2em; */
    background-color: black;
    color: white;
}
  .navbar {
/* height: 100px; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* justify-items:  space-between; */
    padding: 10px;
  }
  .logo {
text-decoration: none;
color: black;
grid-row: 1/2;
/* padding: 0.4em; */
grid-column: 1/2;
font-size: 1.3em;
color: #fff;
  }
   .nav {
  display: flex;
  flex-direction: column;
  /* justify-self: flex-end; */
} 
  #hamburger {
    cursor: pointer;
    align-self: flex-end;
    justify-self: end;
    grid-row: 1/2;
    font-size: 1.6em;
  }
.nav-list {
    list-style: none;
    display: none;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/3;
    gap: 10px;
    font-size: 1.3em;
}
.nav-list li:first-child {
    margin-top: 0;
  } 
.nav-list a {
  display: block;
    text-decoration: none;
    text-align: center;
}
.nav-list a:visited {
color: white;
}

.selected {
    /* background-color: blue; */
    /* border-bottom: 1px black solid; */
}
main {
    /* background-color: white; */
    justify-content: center;
    margin: 0 auto;
  }
  .container {
    padding: 0 30px 30px;
    margin-top: 50px;
}  
div {
  /* background-color: white; */
  margin-top: 50px;
  justify-content: center;
  column-gap: 30px;
}
div:first-child {
    margin-top: 0;
  }
  .hero {
         background: url(./pexels-kaboompics-com-6267.jpg) no-repeat center
      center/cover;
    height: 100vh;
    width: 100vw;
position: relative;
    margin: 0 0;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .hero:after {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;   
    background-color: black;
    height: 100%;
    width: 100%;
  }
  .hero h1 {
    z-index: 100;
  }
  #testimonial {
    /* display: flex; */
    justify-content: space-evenly;
  }
  #hours {
display: flex;
justify-content: space-between;
}
#hours div {
  display: flex;
  flex-direction: column;
  /* justify-self: flex-start; */
  /* align-content: space-between; */
  row-gap: 20px;
}
#location {
    text-align: center;
}
.title {
  text-align: center;
}
.menu-section {
  text-align: center;
  margin-top: 100px;
}
/* .menu-section p {
  margin-top: 30px;
} */
/* .menu-section p:first-child {
  margin-top: 0;
} */
.menu-title {
    text-align: center;
    /* border-bottom: 2px solid black; */
    position: relative;
    padding-bottom: 10px;
    /* margin-bottom: 30px; */
}
.menu-title:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 2px;
  width: 50%;
}
.menu-item {
  margin-top: 30px;
}
.review p:first-child {
  text-align: left;
  /* margin-bottom: 20px; */
}
.review p:last-child {
  text-align: right;
}
#contact-div p {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}
.contact {
  /* display: flex; */

  /* display: flex; */
  /* justify-content: center;
    text-align: justify;*/
  /*  padding-left: 30px; */
  text-align: center;
}
.photos {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(3,1fr); */
  /* width: fit-content; */
  gap: 20px;
}
.photos img {
 /* width: 50%;
 height: 50%; */
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 @media screen and (min-width: 600px) {
      .nav-list {
        /* margin-top: 3em; */
        /* display: flex;  */
        grid-row: 1/2;
        flex-direction: row;
        justify-self: end;
      }
}

@media screen and (min-width: 768px) {
.photos {
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (min-width: 900px) {
  .photos {
    grid-template-columns: repeat(3, 1fr);
  }
  }
  @media screen and (min-width: 1024px) {
    .photos {
      grid-template-columns: repeat(4, 1fr);
    }
    }
